apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bitirme-ingress
spec:
  rules:
  - http:
      paths:
      - path: /*
        pathType: ImplementationSpecific
        backend:
          service:
            name: bitirme-service-1
            port:
              number: 80
      - path: /bitirme-next
        pathType: ImplementationSpecific
        backend:
          service:
            name: bitirme-service-1
            port:
              number: 80
